* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: 30px;
}

html,
body {
  background: #1f1f1f;
  min-height: 100%;
  margin: 0;
  color: #f1f7ee;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: rgba(56, 55, 55, 0.4);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 6vw;
  padding-right: 6vw;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  height: 60px;
}

.hamburger {
  display: none;
}

.mobile-nav {
  display: none;
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
  font-weight: 500;
}

.nav h3 {
  text-decoration: underline;
}

.logo-name {
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1.4rem;
  font-weight: 1000;
  margin-top: 4px;
  margin-bottom: 5px;
}

.link {
  position: relative;
  cursor: pointer;
}

.link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: rgb(243, 178, 57);
  transition: transform 0.25s ease-out;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.page {
  background: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  text-align: right;
  padding: 20px;
  z-index: 100;
}

.header-left h1 {
  margin: 0;
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 1;
  max-width: 9ch;
}

.header-right {
  z-index: 100;
  border-left: 2px solid rgb(243, 178, 57);
  padding: 20px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
}

.header-about-title {
  color: rgb(243, 178, 57);
  font-size: 1.4rem;
  font-weight: 600;
}

.header-about-containt {
  max-width: 400px;
}

.skills {
  background-color: antiquewhite;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
  font-weight: 600;
}

.header-btns {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 50px;
  margin-top: 40px;
}

canvas {
  display: block;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50% 50%;
}

#stats,
.count-particles {
  user-select: none;
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}

.view-button {
  background: transparent;
  padding: 8px;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  transition: all 250ms ease-in;
  border: 2px solid #f1f7ee;
  color: #f1f7ee;
}

.view-button:hover {
  box-shadow: rgba(255, 255, 255, 0.603) 0px 3px 8px;
}

.resume {
  background: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  backdrop-filter: blur(2px);
  cursor: not-allowed;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.social-icon {
  color: #f1f7ee;
  cursor: pointer;
  transition: all 250ms ease-in;
}

.social-icon:hover {
  color: rgb(243, 178, 57);
  transition: all 250ms ease-in;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  position: relative;
}

.section-title::after {
  content: "";
  background-color: rgb(243, 178, 57);
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
}

.workedWith-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.project-container {
  background-color: #2b2b2b;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
  width: 100%;
  margin-bottom: 50px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.project-left {
  width: 35%;
}

.project-right {
  width: 65%;
}

.project-img {
  width: 100%;
}

.project-num {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.4rem;
  transform: rotate(-90deg);
  position: absolute;
  left: 7vw;
  margin-bottom: 0;
  padding: 0;
}

.project-name {
  font-weight: 600;
}

.project-name span {
  padding-right: 8px;
  color: rgb(243, 178, 57);
  font-weight: 800;
}

.api-links {
  color: white;
}

.thesis-info {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.features {
  text-decoration: underline;
}

.using-imgs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.slider {
  width: 100%;
  min-height: 500px;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.controls {
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
}

.controls button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
}

.controls button:hover {
  color: rgb(243, 178, 57);
}

.project-btns {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.thesis-buttons {
  margin-top: 50px;
}

.project-button {
  background: transparent;
  padding: 8px;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  transition: all 250ms ease-in;
  border: 2px solid #f1f7ee;
  color: #f1f7ee;
  text-decoration: none;
}

.project-button:hover {
  box-shadow: rgba(255, 255, 255, 0.603) 0px 3px 8px;
}

.gitRepo {
  background: rgb(241, 247, 238, 0.4);
  backdrop-filter: blur(2px);
}

.contact-wrapper {
  width: 90%;
}

.myEmail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: 30px;
  gap: 10px;
}

.myEmail a {
  color: #f1f7ee;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 5px;
  height: 40px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  text-align: center;
  background-color: #ebe9e9;
}

form label {
  font-size: 1.2rem;
}

form textarea {
  font-family: "Poppins", sans-serif;
  width: 100%;
  resize: none;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 1rem;
  text-align: center;
  background-color: #ebe9e9;
}

.submit {
  width: 150px;
  font-family: "Poppins", sans-serif;
  background: transparent;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  transition: all 250ms ease-in;
  border: 2px solid #f1f7ee;
  color: #f1f7ee;
}

.submit:hover {
  box-shadow: rgba(255, 255, 255, 0.603) 0px 3px 8px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(63, 62, 62, 0.7);
  margin-top: 50px;
  font-size: 1.3rem;
  height: 60px;
}

@media all and (max-width: 1200px) {
  .project-container {
    flex-direction: column;
  }

  .project-left {
    width: 100%;
    order: 2;
  }

  .project-right {
    order: 1;
    width: 100%;
    padding-bottom: 80px;
  }
}

@media all and (max-width: 806px) {
  .header {
    flex-direction: column;
  }

  .socials {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .header-left {
    text-align: center;
  }

  .header-right {
    border-left: none;
    border-top: 2px solid rgb(243, 178, 57);
  }

  .page {
    gap: 0px;
  }
}

@media all and (max-width: 580px) {
  .thesis-info {
    flex-direction: column;
  }
}

/* MOBILE */
@media all and (max-width: 499px) {
  * {
    scroll-margin-top: 30px;
  }

  .header-left {
    padding: 0px;
    margin-bottom: 30px;
  }

  .header-left h1 {
    font-size: 2.8rem;
    font-weight: 700;
  }

  .header-right {
    width: 92vw;
  }

  .header-about-title {
    margin-bottom: -5px;
    margin-top: -5px;
  }

  .view-button {
    white-space: nowrap;
  }

  .projects-wrapper {
    margin-top: -50px;
  }

  .header {
    margin-bottom: -80px;
    margin-top: -30px;
  }

  .section-title {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .section-title::after {
    left: 3vw;
    width: 90vw;
  }

  .project-container {
    width: 95vw;
  }

  .project-right {
    width: 100%;
  }

  .project-left {
    width: 100%;
    margin-top: 130px;
  }

  .slide {
    height: auto;
  }

  .slider {
    min-height: fit-content;
  }

  .controls {
    bottom: 0px;
    top: 210px;
    height: fit-content;
  }

  .controls button:hover {
    color: white;
  }

  .project-name {
    font-size: 1.8rem;
  }

  .contact-wrapper {
    width: 95vw;
  }

  .myEmail {
    margin-top: 0;
  }

  form input {
    width: 92vw;
  }

  form textarea {
    width: 92vw;
  }

  footer {
    font-size: 1rem;
    margin-top: 30px;
  }

  .nav-links {
    display: none;
  }

  .navbar {
    padding-left: 5vw;
    padding-right: 3vw;
  }

  .hamburger {
    position: relative;
    display: block;
    width: 50px;
    height: 60px;
    cursor: pointer;
    margin-top: 6px;

    background: none;
    outline: none;
    border: none;
  }

  .bar,
  .hamburger::after,
  .hamburger::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #f1f7ee;
    transition: 0.4s;
    margin-bottom: 6px;
  }

  .hamburger.is-active::before {
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .hamburger.is-active::after {
    transform: rotate(45deg) translate(-6px, -4px);
  }

  .hamburger.is-active .bar {
    opacity: 0;
  }

  .mobile-nav {
    display: block;
    position: fixed;
    top: 60px;
    right: -500px;
    width: 100vw;
    height: 15vh;
    z-index: 99999;
    background: rgb(241, 247, 238, 0.1);
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    opacity: 0;
    transition: 0.6s ease-in-out;
  }

  .mobile-nav.is-active {
    right: 0;
    opacity: 1;
  }

  .header-btns {
    gap: 15px;
  }
}
