footer {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--footer-background);
  font-size: 1.2rem;
  padding-left: 3vw;
  padding-right: 3vw;
  width: 100%;
  z-index: 2;
}

footer p {
  font-size: 1rem;
  margin-bottom: 0;
}

.source-code {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  color: var(--basic-white);
  cursor: pointer;
  text-decoration: none;
}

@media all and (max-width: 780px) {
  footer {
    flex-direction: column;
    gap: 5px;
  }
}
