.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 6vw;
  padding-right: 6vw;
  height: 100px;
  transition: background-color, height 0.3s ease-in-out;
}

.expandNav {
  background-color: var(--navbar-background);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  height: 60px;
}

.logo-name {
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1.4rem;
  font-weight: 1000;
  color: var(--secondary-orange-color);
  user-select: none;
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
  font-weight: 500;
}

.link {
  position: relative;
  cursor: pointer;
}

.link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--secondary-orange-color);
  transition: transform 0.25s ease-out;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hamburger {
  display: none;
}

.mobile-nav {
  display: none;
}

/* MOBILE */
@media all and (max-width: 499px) {
  .navbar {
    padding-left: 5vw;
    padding-right: 3vw;
  }

  .nav-links {
    display: none;
  }

  .mobile-nav {
    display: block;
    position: fixed;
    /* top: 60px; */
    right: -500px;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: var(--mobile-nav-background);
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    opacity: 0;
    transition: 0.6s ease-in-out;
    padding-top: 80px;
    /* text-decoration: underline; */
    font-size: 1.8rem;
    font-weight: 700;
  }

  .mobile-nav.is-active {
    right: 0;
    opacity: 1;
  }

  .hamburger {
    position: relative;
    display: block;
    width: 50px;
    height: 60px;
    cursor: pointer;
    margin-top: 6px;
    background: none;
    outline: none;
    border: none;
  }

  .bar,
  .hamburger::after,
  .hamburger::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--basic-white);
    transition: 0.4s;
    margin-bottom: 6px;
  }

  .hamburger.is-active::before {
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .hamburger.is-active::after {
    transform: rotate(45deg) translate(-6px, -4px);
  }

  .hamburger.is-active .bar {
    opacity: 0;
  }

  .mobile-link {
    color: var(--secondary-orange-color);
    text-shadow: 2px 1px 4px rgb(66, 66, 66);
  }
}
